<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{artwork.Name}}</title>
</head>
<body>
    <h1>{{artwork.Name}}</h1>
    <p>Artist: {{artwork.Artist}}</p>
    <p>Description: {{artwork.Description}}</p>
    <a href="/">Back to list</a>
</body>
</html>
