<!DOCTYPE html>
<html lang="en">
<head>
    <title>Artworks</title>
</head>
<body>
    <h1>Artworks</h1>
    <ul>
    {{#artworks}}
        <li><a href="/{{ID}}">{{Name}}</a></li>
    {{/artworks}}
    </ul>
</body>
</html>
